@import url("https://fonts.google.com/specimen/Montserrat");
@import url("https://fonts.google.com/specimen/Nunito+Sans?query=nunito");

:root {
    --main-bg-color: #fefdfa;
    --second-bg-color: #363638;
    --subcolor-bg-color: #228b22;
    --footercolor-bg-color: #eeeeee;
}
#root {
    display: flex;
    flex-direction: column;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: "Nunito", sans-serif;
    /* background-color: var(--main-bg-color); */
}

/*swipper-css*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*swipper-css*/

/*nav & footer css*/
nav {
    position: fixed;
    display: flex;
    align-items: center;

    width: 100%;
    border: 10px solid var(--second-bg-color);
    background-color: #fff;
    z-index: 2;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    margin-left: 50px;
    width: 90px;
    height: 95%;
    transform: rotate(90deg);
}

nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    gap: 40px;
}

nav ul li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 3.5px;
}

nav ul li a {
    color: var(--second-bg-color);
    text-decoration: none;
}

nav ul li:hover {
    color: var(--subcolor-bg-color);
    transform: scale(110%);
    text-decoration: underline 5px var(--subcolor-bg-color);
}

nav .nav-mobile-toggle {
    display: none;
}

footer {
    background-color: var(--footercolor-bg-color);
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

footer ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
    width: 100%;
}

footer ul li {
    padding: 20px;
    color: var(--main-bg-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
}
/*nav & footer css*/
/*HOMEPAGE*/

.hero_section {
    background-image: url(./assets/img/painter.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-top: 13vh;
    filter: saturate(150%);
}

.hero_section .overlay_hero_section {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--main-bg-color);
}

.hero_section h1 {
    background: unset;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3.5px;
    font-style: normal;
    padding: 40px;
    text-transform: uppercase;
}

.hero_section button {
    width: 80%;
    color: var(--main-bg-color);
    background-color: var(--subcolor-bg-color);
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    font-size: 16px;
    letter-spacing: 3.5px;
    padding: 10px;
}

.hero_section button:hover {
    color: var(--subcolor-bg-color);
    background-color: var(--main-bg-color);
    font-weight: 600;
}

.homepage_card_container {
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
}

.homepage_about_me_section {
    width: 100%;
    height: 60vh;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage_about_me_container {
    width: 80%;
    height: 70%;
    display: flex;
}

.box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage_about_me_container .box img {
    height: 100%;
    width: 40%;
}

.homepage_about_me_container .box h2 {
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    width: 100%;
}

.homepage_about_me_container .box p {
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    width: 40%;
}

/*HOMEPAGE*/

/*CONTACT-ME*/
.form_section {
    width: 100%;
    height: 80vh;
    margin-top: 13vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/img/background-contact.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section_container {
    height: 70vh;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.form_section_container_dividor {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me_information {
    background-color: var(--main-bg-color);
    padding: 20px;
    height: 60%;
    width: 90%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.about_me_information h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
}

.about_me_information a {
    text-align: left;
    text-decoration: none;
    color: var(--second-bg-color);
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}

.about_me_information a:hover {
    color: var(--subcolor-bg-color);
    text-decoration: underline;
}

form {
    padding: 20px;
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form .details_contact .label_contact {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 6px;
    font-weight: 500;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

form .details_contact .textarea_contact,
form .details_contact .input_contact {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.form_section_container_dividor form button {
    width: 100%;
    color: var(--main-bg-color);
    background-color: var(--subcolor-bg-color);
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    font-size: 16px;
    letter-spacing: 3.5px;
}

.form_section_container_dividor form button:hover {
    color: var(--subcolor-bg-color);
    background-color: var(--main-bg-color);
    font-weight: 600;
}

.contact_alert {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_box_alert {
    width: 40%;
    height: 20%;
    z-index: 10;
    display: flex;
    border: 5px solid var(--second-bg-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.contact_box_alert h2 {
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    color: var(--second-bg-color);
}

.contact_box_alert button {
    width: 25%;
    color: var(--main-bg-color);
    background-color: var(--subcolor-bg-color);
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    font-size: 16px;
    letter-spacing: 3.5px;
    border: 2px solid var(--subcolor-bg-color);
}

.contact_box_alert button:hover {
    color: var(--subcolor-bg-color);
    border: 2px solid var(--subcolor-bg-color);
    background-color: var(--main-bg-color);
    font-weight: 600;
}

/*CONTACT-ME*/
/*CARD*/
.card-container {
    height: auto;
    margin-top: 13vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
}

.cardSwiper {
    height: 50%;
    width: 50%;
    filter: saturate(150%);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
}

.card {
    width: 20vw;
    height: 50vh;
    filter: saturate(150%);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

.card:hover {
    transition: 1s;
    transform: translateY(-5px) scale(110%);
}

.card:hover .card-houver-text {
    opacity: 1;
}

.card-houver-text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 10px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-overlay-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.card-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-overlay-image {
    height: 90%;
    width: 30%;
    filter: saturate(150%);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noScroll {
    overflow: hidden;
}
/*CARD*/

/*ABOUT ME*/
.about_me_section {
    margin-top: 13vh;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_me_section h2 {
    font-size: 27px;
    line-height: 27px;
    padding: 20px;
    letter-spacing: 3.5px;
}

.about_me_container {
    width: 50%;
    height: 70%;
    display: flex;
}

.about_me_container #first_box {
    width: 50%;
    height: 100%;
    padding: 20px;
}

.about_me_container #second_box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.about_me_container #second_box img {
    height: 100%;
    width: 80%;
    box-shadow: inset 10px 10px 20px #000000, 25px 25px 20px #000000b3;
}

.about_me_container #first_box p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 100%;
    padding: 20px;
}

.about_me_container #first_box .about_me_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
}

.about_me_container #first_box .about_me_buttons button {
    width: 80%;
    color: var(--main-bg-color);
    background-color: var(--subcolor-bg-color);
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    font-size: 16px;
    letter-spacing: 3.5px;
    padding: 10px;
    margin: 20px;
    border: 2px solid var(--subcolor-bg-color);
}

.about_me_container #first_box .about_me_buttons button:hover {
    color: var(--subcolor-bg-color);
    background-color: var(--main-bg-color);
    font-weight: 600;
    border: 2px solid var(--subcolor-bg-color);
}

@media (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        gap: 0;
        padding: 10px;
    }

    nav .logo img {
        margin: 0;
    }

    nav .nav-mobile-toggle {
        position: absolute;
        right: 25px;
        display: block;
    }

    nav .nav-mobile-toggle img {
        width: 25px;
        height: 25px;
    }

    nav .nav-links {
        display: none;
    }
}
